p {
    font-size: 1em;
    color: black;
    text-align: justify;
}

h1 {
    font-size: 2em;
    color: black;
}

.class_p_important {
    color: red;
}

.class_w_green {
    color: green;
}


.roboto-font {
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
    font-variation-settings:"wdth" 100;
  }

.raleway-font {
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
  }

.montserrat-font {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
  }

.gentium-plus-regular {
    font-family: "Gentium Plus", serif;
    font-weight: 400;
    font-style: normal;
  }
  
.gentium-plus-bold {
    font-family: "Gentium Plus", serif;
    font-weight: 700;
    font-style: normal;
  }
  
.gentium-plus-regular-italic {
    font-family: "Gentium Plus", serif;
    font-weight: 400;
    font-style: italic;
  }
  
.gentium-plus-bold-italic {
    font-family: "Gentium Plus", serif;
    font-weight: 700;
    font-style: italic;
  }
  

.dm-serif-text-regular {
    font-family: "DM Serif Text", serif;
    font-weight: 400;
    font-style: normal;
  }
  
.dm-serif-text-regular-italic {
    font-family: "DM Serif Text", serif;
    font-weight: 400;
    font-style: italic;
  }



/* ceci est un commentaire */